body{
    background-color: #f4ddfd;
    margin: 0px auto;
    align-content: center;
}


form{
    text-align: left;
    font-size: 25px
}

/* Navigation Bar */
.navbar {
    display: flex;
    overflow: hidden;
    background-color: #090b3d;
    width: 100%;
    position: fixed;
    z-index: 1; /*dmh added */
    top: 0; /*dmh added */
    padding: auto;
}

body nav img {
    float: center;
    width: 70px;
    margin: 10px 22.6px;
}

.navbar a.nav {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    text-decoration: none;
    font-size: 30px;
    width: 30%;
}

.navbar a.nav:hover {
    background-color: #c1dcff;
    color: black;
}

.navbar a.nav:active {
    background-color: #e783ff;
    color: white;
}

/* Home page */
.home {
    position: relative;
    text-align: center;
    color: black;
    width: 100%;
}

.home_bg {
    display: flex;
    opacity: 0.5;
    border-style: solid;
    border-width: 30px;
    border-color: #e4faff;
    margin-top: 90px;
}

.home_greeting {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    text-align: justify;
    text-justify: inter-word;
    font-size: 25px;
    margin-top: 0px;
    margin-left: 40px;
    margin-right: 40px;
}

.split{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
}

.split img{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    float: center;
}


/* Reused throughout */
.box{
    font-size: 37px;
    text-align: center;
    color: blanchedalmond;
    background-color: #090b3d;
    width: 30%;
    padding: 30px;
    margin: 70px auto 70px;
}


.container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 140px;
}

/* My works page */
.myworks {
    margin: 20px;
}

.caption {
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    font-size: 30px;
}

.date {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 20px;
}

.frame {
    width: auto;
    position: relative;
    background-color: #ecebfe;
    color: #090b3d;
    box-shadow: 0px 0px 15px #272727;
    margin: 20px;
    padding-bottom: 20px;
}

.image {
    transition: .5s ease;
    opacity: 1;
    backface-visibility: hidden;
}

.desciption {
    color: black;
    font-size: 20px;
    text-align: center;
    padding: auto;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 85%;
}

.frame:hover .image{
    opacity: 0.25
}

.frame:hover .desciption {
    opacity: 1;
}

section div#collage img {
    margin: 15px;
}

/* Contact me page */
.platforms {
    background-color: #c1dcff;
    color: black;
    width: 450px;
    padding: 45px;
    margin: 20px;
    text-align: center;
    font-size: 34px;
}

.contactme {
    text-align: left;
}

@media only screen and (max-width: 768px) {
    body {
        width: 100%;
    }
    .split {
        flex: 1 100%;
        flex-grow: inherit;

    }
    .home_greeting {
        font-size: inherit;
    }
    .images {
        width: inherit;
    }
    #horizontal {
        width: 93%;
    }
    .home {
        width: 100%;
    }
    .nav {
        width: 100%;
        font-size: inherit;
        padding: inherit;
    }
    .navbar a.nav {
        width: 100%;
        font-size: 25px;
    }
    .box {
        font-size: 25px;
    }
    p {
        font-size: 20px;
    }
    .caption {
        font-size: 25px;
    }
    .date {
        font-size: inherit;
    }
    .frame {
        width: 80%
    }
    .image {
        width: 92.5%
    }
}

@media (max-width: 900px) {
    #horizontal {
        width: 93%;
    }
    .contactme {
        text-align: center;
    }
}